@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}

/* Typography STyling */
.ag-display {
    font-size: 56px;
    font-weight: 700;
    line-height: auto;
    color: #301534;
}

.ag-title {
    font-size: 18px;
    font-weight: 600;
    line-height: auto;
    color: #301534;
}

.ag-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #8B6990;
}

/* Desktop Styling */
body {
    background-color: #F8EEFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

.background {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 320px;
}

.card {
    max-width: 600px;
    background-color: white;
    box-shadow: 0 32 56 0 #500076;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    z-index: 100;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.title-icon {
    width: 40px;
    height: 40px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faq-question-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq-question {
    width: 90%;
}

.faq-toggle {
    width: 24.38px;
    height: 24.38px;
    border-radius: 999px;
    position: relative;
}

.toggle-minus {
    width: 100%;
    height: 100%;
}

.toggle-plus {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}
